<div class="jumbotron shadow" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(../assets/icon.png); background-size:contain;background-repeat:no-repeat;background-position:center">
  <div style="margin:auto; text-align:center">
    <h1 class="display-5"><b>Welcome <i>Admin</i></b></h1>
    <h2 >to the Dashboard</h1>
  </div>
</div>

<div class="mt-5 row">
	<div class="col-sm-12 col-md-3">
        <div class="card">
          	<div class="card-body text-center">
            	<img src="/assets/boymask.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Colleges">
            	<h5 class="card-title">Orders</h5>
           		<p class="card-text">View all orders and their corresponding statuses.</p>
           		<a href="/admin/orders" class="btn btn-primary">Manage Orders</a>
       		</div>
       	</div>
   	</div>
   	<div class="col-sm-12 col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <img src="/assets/boymask.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Colleges">
              <h5 class="card-title">Inventory</h5>
              <p class="card-text">View all products and their supply level.</p>
              <a href="/admin/inventory" class="btn btn-primary">Manage Inventory</a>
          </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <img src="/assets/boymask.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Colleges">
              <h5 class="card-title">Production</h5>
              <p class="card-text">View all job orders and their corresponding statuses.</p>
              <a href="/admin/production" class="btn btn-primary">Manage Job Orders</a>
          </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card">
            <div class="card-body text-center">
              <img src="/assets/boymask.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Colleges">
              <h5 class="card-title">Users</h5>
              <p class="card-text">Manage your account and best-seller products.</p>
              <a href="/admin/control" class="btn btn-primary">Control Panel</a>
          </div>
        </div>
    </div>
</div>