<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

<style>
  .media-text{
    float:left;
    margin-right: 20px;
  }
  .media-text #btn{
      margin-right: -20px;
  }
  .filter_bar{
    background-color: white;
    margin:auto;
    justify-content: center;
  }
  .card-filter{
    text-align: center;
  }
  #col{
    float:left
  }
  .modal label{
    min-width:50px;
  }
  .modal input{
    min-width:200px;
  }
</style>

{{#if notPhasedOut}}
  <div id="modal_add" class="modal fade" role="dialog">
          <div class="modal-dialog" id = "md1">
            <div class="modal-content" style="background-color: rgb(247, 242, 242)">
              <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
                <h4 class="modal-title">Add Product in Inventory</h4>
                <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
              </div>

              <form id="newProductForm" name="newProductForm" method="post" action="/admin/inventory/addProduct">
              
                <div class="modal-body" style="overflow:auto margin:auto; text-align:center; margin-top:2%">
                    <label for="style">Style: </label>
                    <input id="newProductStyle" name="newProductStyle" type="text" name="style" id="style" placeholder=" Enter Style" required><br>
                    <label for="color">Color: </label>
                    <input id="newProductColor" name="newProductColor" type="text" name="color" id="color" placeholder=" Enter Color" required><br>
                    <label for="description">Desc: </label>
                    <input id="newProductDescription" name="newProductDescription" type="text" name="description" id="description" placeholder=" Enter Description" required><br>
                    <label for="price">Price: </label>
                    <input max="9007199254740981" min="0" type="number" name="newProductPrice" id="newProductPrice" placeholder=" Enter Price" required><br>
                    <label for="s">S: </label>
                    <input max="9007199254740981" min="0" type="number" name="newProductS" id="newProductS" placeholder=" Enter Small Amount" required><br>
                    <label for="m">M: </label>
                    <input max="9007199254740981" min="0" type="number" name="newProductM" id="newProductM" placeholder=" Enter Medium Amount" required><br>
                    <label for="0">L: </label>
                    <input max="9007199254740981" min="0" type="number" name="newProductL" id="newProductL" placeholder=" Enter Large Amount" required><br>
                    <label for="xl">XL: </label>
                    <input max="9007199254740981" min="0" type="number" name="newProductXl" id="newProductXl" placeholder=" Enter Extra Large Amount" required><br>
                    <div id="newProductError" name="newProductError" class="text-danger" style="text-align:center"></div>
                </div>
                <div class="modal-footer">
                  <button id="newProductBtn" name="newProductBtn" type="submit" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                  <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                </div>
              </form>

              
            </div>
        
          </div>
  </div>
{{/if}}
<div class="jumbotron shadow p-4 text-center">
    <h4>Filter: {{resultsMessage}}</h4><hr>
    <form class="form-inline mb-2 justify-content-center" id="searchInventory" name="searchInventory" mehtod="get" action="#">
        <input class="form-control my-2" type="text" name="style" id="style" placeholder=" Enter Style">
        <input class="form-control my-2 mx-sm-3" type="text" name="color" id="color" placeholder=" Enter Color">
        <input class="form-control my-2" type="text" name="description" id="description" placeholder=" Enter Description">
        <button class="btn btn-primary my-2" id="btn" type="submit">Search</button>
    </form>
    {{#if notPhasedOut}}
      <button class="btn btn-primary" data-toggle="modal" data-target="#modal_add">Add New Product</button>
      <a href="/admin/inventory/phasedOut"><button class="btn btn-primary">Check Phased Out Product</button></a>
    {{else}}
      <a href="/admin/inventory"><button class="btn btn-primary">Check Inventory</button></a>
    {{/if}}
</div>

<div id="producdtCardContainer"class="mt-5 row justify-content-center">
  {{#each products}}
    <div class="col-sm-4 col-md-4">
      {{> productCard}}
    </div>
  {{/each}}

  {{#if noResults}}
    <h4 class="col-sm-4 col-md-4">No results returned</h4><hr>
  {{/if}}
</div>


{{> paginator}}

