<style>
  .media-text{
    float:left;
    margin-right: 20px;
  }
  .media-text #btn{
      margin-right: -20px;
  }
  .filter_bar{
    background-color: white;
    margin:auto;
    justify-content: center;
  }
  .card-filter{
    text-align: center;
  }
  #col{
    float:left
  }
</style>

<br>
<div class="card card-filter">
  <div class="filter_bar">
        <h4 class="title" style="text-align: center; margin-top:10px;">Filter</h4><hr>
          <form id="searchInventory" name="searchInventory" mehtod="get" action="/admin/inventory">
            <div class = "media-text" id="input">
              <label for "style">Style</label><br>
              <input type="text" name="style" id="style" placeholder="Style">
            </div>
            <div class = "media-text" id="input">
              <label for "style">Color</label><br>
              <input type="text" name="color" id="color" placeholder="Color">
            </div>
    </div><br>
    <div class = "media-text" style="margin-bottom:10px;"><button class="btn btn-primary"  id="btn" type="submit">Search</button></div>
    </form>
</div>

<div class="mt-5 row">
    <div class="col d-flex justify-content-center">
        <div class="col-sm-12 col-md-8">
            {{#each products}}
              {{> productCard}}
            {{/each}}
        </div>
    </div>
</div>


{{> paginator}}