<style>
  .media-text{
    float:left;
    margin-right: 20px;
  }
  .media-text #btn{
      margin-right: -20px;
  }
  .filter_bar{
    background-color: white;
    margin:auto;
    justify-content: center;
  }
  .card-filter{
    text-align: center;
  }
  #col{
    float:left
  }
</style>

<br>
<div class="card card-filter">
  <div class="filter_bar">
        <h4 class="title" style="text-align: center; margin-top:10px;">Filter</h4><hr>
        <form action="">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit" class="btn btn-link search-btn"><i class="fa fa-search"></i></button>
        </form>
          <br>
          <form mehtod="get" action="">
            <div class = "media-text" id="input">
              <label for "style">Style</label><br>
              <select id="style" class = "browser-default custom-select" name="style" style="width: 200px; border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer;">
                <option value="SELECT">[SELECT STYLE]</option>
                <option value="STYLE 1">STYLE 1</option>
                <option value="STYLE 2">STYLE 2</option>
                <option value="UNO">UNO-PH</option>
                <option value="DOS">DOS-PH</option>
                <option value="TRES">TRES-PH</option>
                <option value="STW">STW</option>
              </select>
            </div>
            <div class = "media-text" id="input">
              <label for "color">Color</label><br>
                <select id="color" class = "browser-default custom-select" name="color" style="width: 200px; border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer;">
                  <option value="SELECT">[SELECT COLOR]</option>
                  <option value="Light Gray">Light Gray</option>
                  <option value="Dark Gray">Dark Gray</option>
                  <option value="BLACK">Black</option>
                  <option value="Skin Tone">Skin Tone</option>
                  <option value="Mustard">Mustard</option>
                  <option value="Caramel">Caramel</option>
                  <option value="Sunkist">Sunkist</option>
                  <option value="Magenta">Magenta</option>
                  <option value="Light Pink">Light Pink</option>
                  <option value="Angel Blue">Angel Blue</option>
                  <option value="Royal Blue">Royal Blue</option>
                  <option value="Navy Blue">Navy Blue</option>
                  <option value="Green">Green</option>
                  <option value="Moss Green">Moss Green</option>
                  <option value="PGE">PGE</option>
                  <option value="ICONIC">Iconic</option>
                  
                </select>
            </div>
          </form>   
    </div><br>
    <div class = "media-text" style="margin-bottom:10px;"><button class="btn btn-primary"  id="btn" type="submit">Apply Filter</button></div>
    </form>
</div>

<div class="mt-5 row">
    <div class="col d-flex justify-content-center">
        <div class="col-sm-12 col-md-8">
            {{#each products}}
              {{> productCard}}
            {{/each}}
        </div>
    </div>
</div>


{{> paginator}}