

<div class="mt-5 row">

	<div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<h4 class="card-title">Filter</h4>
                        <div class = "media-text">
                            <p class="card-text">Deliver Status</p>
                            <select style="border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                                <option value="">Ship Out</option>
                                <option>Ongoing</option>
                            </select>
                        </div>  
                      <p class="card-text">Payment Status</p>
                        <div class = "media-text">
                        <select style="border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                            <option value="">Paid</option>
                            <option>COD</option>
                        </select>
                        </div>  
                      <p class="card-text">Date</p> 
                      <form action="">
                        <input type="date" id="date" name="birthdaydate">
                      </form>
					  <br>
                      <span class="input-group-btn filterbtn">
                        <button class="btn btn-primary" type="button">Filter</button>
                    </span>
          	</div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<img src="/assets/boymask.png" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="Logo">
            	<h5 class="card-title pb-2"><a href="/admin/cart">Sample Order Number</a></h5>
				<p class="card-text">Shipping Fee: <input type="number"></p>
				<a href="/#" class="card-link bg-pill pl-2 pr-2 pt-1 pb-1 rounded">To Pay</a>
            	<a href="/#" class="card-link bg-pill pl-2 pr-2 pt-1 pb-1 rounded">Ongoing</a>
          	</div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<img src="/assets/boymask.png" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="Logo">
            	<h5 class="card-title pb-2">Sample Order</h5>
            	<a href="/#" class="card-link bg-pill pl-2 pr-2 pt-1 pb-1 rounded">Ship Out</a>
          	</div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<img src="/assets/boymask.png" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="Logo">
            	<h5 class="card-title pb-2">Sample Order</h5>
            	<a href="/#" class="card-link bg-pill pl-2 pr-2 pt-1 pb-1 rounded">Ship Out</a>
          	</div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<img src="/assets/boymask.png" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="Logo">
            	<h5 class="card-title pb-2">Sample Order</h5>
            	<a href="/#" class="card-link bg-pill pl-2 pr-2 pt-1 pb-1 rounded">Ship Out</a>
          	</div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<img src="/assets/boymask.png" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="Logo">
            	<h5 class="card-title pb-2">Sample Order</h5>
            	<a href="/#" class="card-link bg-pill pl-2 pr-2 pt-1 pb-1 rounded">Ship Out</a>
          	</div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<img src="/assets/boymask.png" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="Logo">
            	<h5 class="card-title pb-2">Sample Order</h5>
            	<a href="/#" class="card-link bg-pill pl-2 pr-2 pt-1 pb-1 rounded">Ship Out</a>
          	</div>
        </div>
    </div>
</div>