

<div class="mt-5 row">
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <h4 class="card-title">Filter</h4>
          <form mehtod="get" action="/admin/orders/filter">  
            <div class = "media-text">
              <p class="card-text">Deliver Status</p>
                <select id="deliveryStatus" name="deliveryStatus" style="border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                  <option value="DELIVERED">DELIVERED</option>
                  <option value="DELIVERING">DELIVERING</option>
                  <option value="PROCESSING">PROCESSING</option>
                </select>
            </div>  
            <p class="card-text">Payment Status</p>
              <div class = "media-text">
                <select id="paymentStatus" name="paymentStatus" style="border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                  <option value="PAID">PAID</option>
                  <option value="TO PAY">TO PAY</option>
                </select>
              </div>  
            <p class="card-text">Date Start</p> 
              <input type="date" id="dateStart" name="dateStart" required>
					  <br>
            <p class="card-text">Date End</p> 
              <input type="date" id="dateEnd" name="dateEnd" required>
					  <br>
              <span class="input-group-btn filterbtn">
                <button class="btn btn-primary" type="submit">Filter</button>
              </span>
          </form>    
      </div>
  </div>
</div>

    {{#each orderCards}}
        {{> orderCard}}
    {{/each}}