<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap.min.js"></script>

<style>
  .media-text{
    float:left;
    margin-right: 20px;
  }
  .media-text #btn{
      margin-right: -20px;
  }
  .filter_bar{
    background-color: white;
    margin:auto;
    justify-content: center;
  }
  .card{
    text-align: center;
  }
  #searchId{
    background-color: white;
    margin:auto;
    justify-content: center;
  }
  .row{
    width:100%;
  }
</style>

<script>
  $(document).ready(function() {
      $('#orderTable').DataTable({});
    });
</script>

<div class="jumbotron shadow p-4 text-center">
    <h4>Orders</h4><hr>
    <form class="form-inline justify-content-center"  name="searchInventory" mehtod="get" action="#">
        <input placeholder="Start Date" class="form-control my-2 col-sm-2" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateStart" name="dateStart"/>
        <input placeholder="End Date" class="form-control my-2 mx-sm-3" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="dateEnd" name="dateEnd"/>
        <button class="btn btn-primary my-2" id="btn" type="submit">Apply Filter</button>
    </form><hr>
    <p class="lead m-0">{{resultsMessage}}</p>
</div>

<div class="jumbotron p-4 text-center" style="width:100%;overflow:auto">
    <table class="table table-striped" id="orderTable">
        <thead>
          <tr>
            <th>Order Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Delivery Status</th>
            <th>Payment Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each orderCards}}
            {{> orderCard}}
          {{/each}}
        </tbody>
    </table>
</div>
