

<div class="mt-5 row">

	<div class="col-sm-12 col-md-4">
        <div class="card mb-4">
        	<div class="card-body text-center">
            	<h4 class="card-title">Filter</h4>
                        <div class = "media-text">
                            <p class="card-text">Deliver Status</p>
                            <select style="border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                                <option value="">Ship Out</option>
                                <option>Ongoing</option>
                            </select>
                        </div>  
                      <p class="card-text">Payment Status</p>
                        <div class = "media-text">
                        <select style="border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                            <option value="">Paid</option>
                            <option>COD</option>
                        </select>
                        </div>  
                      <p class="card-text">Date</p> 
                      <form action="">
                        <input type="date" id="date" name="birthdaydate">
                      </form>
					  <br>
                      <span class="input-group-btn filterbtn">
                        <button class="btn btn-primary" type="button">Filter</button>
                    </span>
          	</div>
        </div>
    </div>

    {{#each orderCards}}
        {{> orderCard}}
    {{/each}}