

<div class="mt-5 row">
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <h4 class="card-title">Filter</h4><hr>
          <form mehtod="get" action="/admin/orders/filter">  
            <div class = "media-text">
              <label for "deliveryStatus">Delivery Status</label><br>
                <select id="deliveryStatus" class = "browser-default custom-select" name="deliveryStatus" style="width: 200px; border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                  <option value="DELIVERED">DELIVERED</option>
                  <option value="DELIVERING">DELIVERING</option>
                  <option value="PROCESSING">PROCESSING</option>
                </select>
            </div><br>
            <label for "paymentStatus">Payment Status</label>
              <div class = "media-text">
                <select id="paymentStatus" class = "browser-default custom-select" name="paymentStatus" style="width: 200px; border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer">
                  <option value="PAID">PAID</option>
                  <option value="TO PAY">TO PAY</option>
                </select>
              </div><br>
            <label for "dateStart">Order Date</label><br>
              <input type="date" id="dateStart" name="dateStart" required>
					  <br><br>
            <label for "dateEnd">Delivery Date</label><br>
              <input type="date" id="dateEnd" name="dateEnd" required>
					  <br><br>
              <span class="input-group-btn filterbtn">
                <button class="btn btn-primary" type="submit">Filter</button>
              </span>
          </form>    
      </div>
  </div>
</div>

    {{#each orderCards}}
        {{> orderCard}}
    {{/each}}