<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

<style>
  .media-text{
    float:left;
    margin-right: 20px;
  }
  .media-text #btn{
      margin-right: -20px;
  }
  .filter_bar{
    background-color: white;
    margin:auto;
    text-align: center;
  }
  .card-filter{
    text-align: center;
  }
  #col{
    float:left
  }
  .modal label{
    min-width:100px;
  }
  .modal input{
    min-width:200px;
  }
  .modal select{
    min-width:200px;
  }
  .card{
    text-align: center;
  }
  input{
    width:150px;
  }
</style>

<div class="card" style="margin-top:3%">
  <div class="filter_bar">
    <br>
    <h4>Filter: {{resultsMessage}}</h4><hr>
          <form mehtod="get" action="#">
            <div class = "media-text" id="input">
              <label for "style">Style</label><br>
                <input id="style" name="style" type="text" placeholder=" Enter Style"><br>
            </div>
            <div class = "media-text" id="input">
              <label for "color">Color</label><br>
                <input id="color" name="color" type="text" placeholder=" Enter Color" ><br>
            </div>
            <div class = "media-text" id="input">
              <label for "description">Description</label><br>
                <input id="description" name="description" type="text" placeholder=" Enter Description"><br>
            </div>
            <div class = "media-text" id="input">
              <label for "status">Production Status</label><br>
                <select id="status" class = "browser-default custom-select" name="status" style="width: 200px; border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer;">
                  <option value="SELECT">[SELECT STATUS]</option>
                  <option value="CUTTING">Cutting</option>
                  <option value="SEWING">Sewing</option>
                  <option value="PRINTING">Printing</option>
                  <option value="WASHING">Washing</option>
                  <option value="CANCELLED">Cancelled</option>
                  <option value="DONE">Done</option>
                </select>
            </div>
            <div class = "media-text" id="input">
            <label for "dateStart">Start Date</label><br>
              <input type="date" id="dateStart" name="dateStart" >
					  </div>
            <div class = "media-text" id="input">
            <label for "dateEnd">End Date</label><br>
              <input type="date" id="dateEnd" name="dateEnd" >
            </div>
              
    </div><br>
    <div class = "media-text" style="margin-bottom:10px;">
      <button class="btn btn-primary"  id="btn" type="submit">Apply Filter</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary"  id="add" type="submit" data-toggle="modal" data-target="#modal_joborder">Add New Job Order</button>
    </div>
    
    </form>  
  </div>

<div id="wrap"class="mt-5 row justify-content-center">
    <div class="col-sm-4 col-md-12">
      <div class="card" style="width:100%; overflow-y:hidden">
          <table style="text-align: center; table-layout:fixed; width: 1000px; margin:auto" class="table table-striped">
              <thead>
                  <th>Date Encoded</th>
                  <th>Batch No</th>
                  <th>Style</th>
                  <th>Description</th>
                  <th>Color</th>
                  <th>TTL</th>
                  <th>Status Update</th>
                  <th>Acutal Output</th>
              </thead>
          </table>
      </div><hr>

        {{#each jobOrderCards}}
          <div id="jobOrderCardContainer" name="jobOrderCardContainer">
            {{> jobOrderCard}}
          </div>
          

        {{/each}}

        {{#if noResults}}
          <h4 class="col-sm-4 col-md-4">No results returned</h4><hr>
        {{/if}}
      
      
    </div>
</div>


<div id="modal_joborder" class="modal fade" role="dialog">
        <div id="div" class="modal-dialog">
          <div class="modal-content" style="background-color: rgb(247, 242, 242); text-align:center">
                <div class="modal-header" style="text-align: center;background-color;background-color: rgb(52, 58, 64);color:white">
                <h4 class="modal-title">Add a new Job Order</h4>
                <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
                </div>
                <form id="updateStockForm" name="updateStockForm" method="POST" action="/admin/inventory/updateStock">
                    <div class="modal-body" style="overflow:auto margin:auto; text-align:center; margin-top:2%">
                        <label for="batch">Batch no: </label>
                        <input type="number" name="batch" id="batch" placeholder=" Enter Batch Number"><br>
                        <label for="style">Style: </label>
                        <input type="text" name="style" id="style" placeholder=" Enter Style"><br>
                        <label for="description">Description: </label>
                        <input type="text" name="description" id="description" placeholder=" Enter Description"><br>
                        <label for="color">Color: </label>
                        <input type="text" name="color" id="color" placeholder=" Enter Color"><br>
                        <label for="ttl">Total: </label>
                        <input type="number" name="ttl" id="ttl" placeholder=" Enter TTL"><br>
                        <label for="status">Initial Status: </label>
                        <select class="btn btn-primary" style = "background-color: white; color:black" id="status">
                            <option value="CUTTING">Cutting</option>
                            <option value="SEWING">Sewing</option>
                            <option value="PRINTING">Printing</option>
                            <option value="WASHING">Washing</option>
                            <option value="CANCELLED">Cancelled</option>
                        </select><br>
                        <div id="updateJobOrderError" name="updateJobOrderError" class="text-danger" style="text-align:center"></div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="updateJobOrderBtn" name="updateJobOrderBtn" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);">Confirm</button>
                        <button type="button" class="btn btn-secondary" style="background-color: rgb(52, 58, 64);" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
</div>


{{> paginator}}



