<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

<style>
  .media-text{
    float:left;
    margin-right: 20px;
  }
  .media-text #btn{
      margin-right: -20px;
  }
  .filter_bar{
    background-color: white;
    margin:auto;
    text-align: center;
  }
  .card-filter{
    text-align: center;
  }
  #col{
    float:left
  }
  .modal label{
    min-width:50px;
  }
  .modal input{
    min-width:200px;
  }
  .card{
    text-align: center;
  }
</style>

<div class="card" style="margin-top:3%">
  <div class="filter_bar">
    <br>
    <h4>Filter: {{resultsMessage}}</h4><hr>
          <form mehtod="get" action="#">
            <div class = "media-text" id="input">
              <label for "style">Style</label><br>
                <input id="style" name="style" type="text" placeholder=" Enter Style"><br>
            </div>
            <div class = "media-text" id="input">
              <label for "color">Color</label><br>
                <input id="color" name="color" type="text" placeholder=" Enter Color" ><br>
            </div>
            <div class = "media-text" id="input">
              <label for "description">Description</label><br>
                <input id="description" name="description" type="text" placeholder=" Enter Description"><br>
            </div>
            <div class = "media-text" id="input">
              <label for "status">Production Status</label><br>
                <select id="status" class = "browser-default custom-select" name="status" style="width: 200px; border:solid; background-color: rgba(126, 125, 125, 0); cursor:pointer;">
                  <option value="SELECT">[SELECT STATUS]</option>
                  <option value="CUTTING">Cutting</option>
                  <option value="SEWING">Sewing</option>
                  <option value="PRINTING">Printing</option>
                  <option value="WASHING">Washing</option>
                  <option value="CANCELLED">Cancelled</option>
                  <option value="DONE">Done</option>
                </select>
            </div>
            <div class = "media-text" id="input">
            <label for "dateStart">Start Date</label><br>
              <input type="date" id="dateStart" name="dateStart" >
					  </div>
            <div class = "media-text" id="input">
            <label for "dateEnd">End Date</label><br>
              <input type="date" id="dateEnd" name="dateEnd" >
            </div>
              
    </div><br>
    <div class = "media-text" style="margin-bottom:10px;"><button class="btn btn-primary"  id="btn" type="submit">Apply Filter</button></div>
    </form>  
  </div>

<div id="wrap"class="mt-5 row justify-content-center">
    <div class="col-sm-4 col-md-12">
      <div class="card" style="width:100%; overflow-y:hidden">
          <table style="text-align: center; table-layout:fixed; width: 1000px; margin:auto" class="table table-striped">
              <thead>
                  <th>Date Encoded</th>
                  <th>Batch No</th>
                  <th>Style</th>
                  <th>Description</th>
                  <th>Color</th>
                  <th>TTL</th>
                  <th>Status Update</th>
                  <th>Acutal Output</th>
              </thead>
          </table>
      </div><hr>

        {{#each jobOrderCards}}
          <div id="jobOrderCardContainer" name="jobOrderCardContainer">
            {{> jobOrderCard}}
          </div>
          

        {{/each}}

        {{#if noResults}}
          <h4 class="col-sm-4 col-md-4">No results returned</h4><hr>
        {{/if}}
      
      
    </div>
</div>


{{> paginator}}



