    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <style>
        #table_id_length select{
            background-color: rgb(52, 58, 64);
            color:White;
        }
    
    </style>
    <script>
        $(document).ready(function() {
            var table =  $('#table_id').DataTable();

             $('#table_id tbody').on( 'click', 'tr', function () {
                if ($(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            } );
        
            $('#button').click( function () {
                table.row('.selected').remove().draw( false );
            });

            $('#addRow').on( 'click', function () {
                table.row.add( [
                    '','','','','','','','','','','<select class="btn btn-primary" style="background-color:rgb(52, 58, 64)"><option value="IP">In process</option><option value="Done">Done</option><option value="Cancelled">Cancelled</option><option value="Sewing">Sewing</option><option value="Cutting">Cutting</option></select>',''
                ] ).draw( false );
            });
        });
    </script>

 <div  contenteditable="true" spellcheck="false" style = "margin-top:2%; width: 95%;margin-left: 2.5%;">
        <table id="table_id" class="table-responsive" width="100%">
            <thead>
                <tr>
                    <th>Date Encoded</th>
                    <th>Jo/Batch Number</th>
                    <th>Style</th>
                    <th>Description</th>
                    <th>Color</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>TTL</th>
                    <th>Status update</th>
                    <th>remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2020/01/01</td>
                    <td>1</td>
                    <td>S1</td>
                    <td>Surgical Solid</td>
                    <td>ICON - Purple</td>
                    <td>3</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>9</td>
                    <td>
                        <select class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
                            <option value="IP">In process</option>
                            <option value="Done">Done</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Sewing">Sewing</option>
                            <option value="Cutting">Cutting</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020/01/05</td>
                    <td>1</td>
                    <td>S1</td>
                    <td>Surgical Solid</td>
                    <td>Angel BLue</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>12</td>
                    <td>
                        <select class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
                            <option value="IP">In process</option>
                            <option value="Done">Done</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Sewing">Sewing</option>
                            <option value="Cutting">Cutting</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020/01/25</td>
                    <td>1</td>
                    <td>S1</td>
                    <td>Surgical PRINT</td>
                    <td>PPINK</td>
                    <td>5</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>11</td>
                    <td>
                        <select class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
                            <option value="IP">In process</option>
                            <option value="Done">Done</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Sewing">Sewing</option>
                            <option value="Cutting">Cutting</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020/01/27</td>
                    <td>1</td>
                    <td>S1</td>
                    <td>Surgical Solid</td>
                    <td>Pale Pink</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>
                         <select class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
                            <option value="IP">In process</option>
                            <option value="Done">Done</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Sewing">Sewing</option>
                            <option value="Cutting">Cutting</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>2020/02/07</td>
                    <td>1</td>
                    <td>S2</td>
                    <td>Duckbill Print</td>
                    <td>LightGrey</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>
                        <select class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
                            <option value="IP">In process</option>
                            <option value="Done">Done</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Sewing">Sewing</option>
                            <option value="Cutting">Cutting</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
               
            </tbody>
        </table>
        <button id = "addRow" class = "btn btn-primary" style = "background-color: rgb(52, 58, 64); color:white">Add row</button>
        <button id = "button" class = "btn btn-primary" style = "background-color: rgb(52, 58, 64); color:white">Delete Selected Row</button>
    </div>
</body>
</html>
