 <div class="el-wrapper">
        <div class="box-up">
        <img id="productImage" name="productImage" src="" class="card-img" alt="...">
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name" style="margin-top:30px">{{description}}</span>
              <span class="p-company">{{color}}</span>
            </div>
            <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">{{price}}</span>
            <span class="add-to-cart">
              <span class="txt">View Item</span>
            </span>
          </a>
        </div>
      </div>