
        <nav class="nav-head" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-2">
                        <div id="nav-logo"><a href="index.html">FACEMUST - ADMIN</a></div>
                    </div>
                    <div class="col-md-6 col-xs-6 text-center menu-1">
                        <ul>
                            <li>
                                <a href="">Orders</a>
                            </li>
                            <li><a href=""></a>Inventory</a></li>
                            <li><a href="">Production</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
                        <ul>
                            <li class="shopping-cart"><a href="#" class="cart"><span><i class="fi-xtluxl-sign-out-thin"></i>/span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
 