<div class="col-sm-12 col-md-4" id="col">
    <div class="card mb-4">
        <div class="card-header bg-dark text-light font-weight-bold">
            {{style}} - {{color}}
        </div>
        <div class="card-body border-bottom">
             <div class="card-body text-center">
                <img src="/assets/boymask.png" width="100" height="100" class=" p-1 rounded-10 d-inline-block align-top mb-1" alt="Logo">
                <a href="/admin/inventory/{{_id}}" class="card-link bg-pill pl-2 pr-2 pt-1 pb-1 rounded"> Available : {{totalAvailable}}</a>
            </div>
        </div>
    </div>
</div>