<br><div class="card" style="width:100%; overflow-y:hidden">
          <table style="text-align: center; table-layout:fixed; width: 1000px; margin:auto; overflow-y:hidden">
                  <td>2019-08-28</td>
                  <td>1</td>
                  <td>Style 2</td>
                  <td>Duckbill Mask</td>
                  <td>Pink</td>
                  <td>30</td>
                  <td>
                      <select class="btn btn-primary" style = "background-color: rgb(52, 58, 64)">
                            <option value="IP">In process</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Sewing">Sewing</option>
                            <option value="Cutting">Cutting</option>
                            <option value="DONE" style="display:none">Done</option>
                        </select>
                  </td>
                  <td>29</td>
          </table><br>
          <div style="justify-content: center; display:flex">
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal_production">Production Details</button>&nbsp;
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal_actual">Input Actual Output</button>
          </div>
      </div>