<head>
    <title> Login - FACEMUST</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="logo.png">
    <script src="https://kit.fontawesome.com/080b1bc218.js" crossorigin="anonymous"></script>

    <!--JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>

    <div class = "template">
        <div class="scope">
            <div class = "header">
                <a class="logo" tabindex="-1" title="FACEMUST" href="/login"><img src="/assets/icon.png" width="150" height="150" alt=""></a>
            </div>
        </div>  
    </div>
    <div class="container">
        <div class="content control-group warning">
            <form id="login-form" name="login-form" method="POST" class="form-login"><br><br>
                <div class="row">
                    <div class="col-xs-12" style="margin:auto;">
                        <label for="loginUsername" class="for-forms">
                            Username
                        </label>
                        <input type="text" class="form-control" name="loginUsername" id="loginUsername"
                                placeholder="Username" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="margin:auto;">
                        <label for="loginPassword" class="for-forms">
                            Password
                        </label>
                        <input type="password" class="form-control" name="loginPassword" id="loginPassword"
                                placeholder="Password" >
                    </div>

                    
                </div>
                <div class="row row-submit">
                    <div class="col-xs-12" style="margin:auto;">
                        
                        <button type="submit" class="btn btn-block btn-red logging" name="loginSubmit" id="loginSubmit" style="margin:0">LOG IN</button>
                        
                    </div>
                    
                </div> 
                
                {{#if fail}}
                        <div class="text-danger" style="text-align:center">Invalid Username or Password</div>
                {{/if}}

            </form>
            <div class="row">
                <div class="col-xs-12" style="margin:auto;">
                    <div class="divider"></div>
                    <p class="text-center text-muted footer">FACEMUST</p>
                </div>
            </div>
        </div> 
    </div>