<script>

	$(document).ready(function() {
		var i;
		var cart = JSON.parse(localStorage.getItem('cart'));
		var table = document.getElementById("dataTable");
		var quantity = 0;
		var totalPrice = 0;

		$.post('/cart/getData', {cart: cart}, (arr) => {
			for (i = arr.length-1; i >= 0; i--){
				var row = table.insertRow(1);
				var cell0 = row.insertCell(0);
				var cell1 = row.insertCell(1);
				var cell2 = row.insertCell(2);
				var cell3 = row.insertCell(3);
				var cell4 = row.insertCell(4);
				var cell5 = row.insertCell(5);
				var cell6 = row.insertCell(6);
				var cell7 = row.insertCell(7);
				var cell8 = row.insertCell(8);
				var cell9 = row.insertCell(9);

				cell0.innerHTML = '<img src="" id="i" style="width:50px;height:50px">'
				document.getElementById("i").id = i;
				document.getElementById(i).src = arr[i].image;
				cell1.innerHTML = arr[i].color;
				cell2.innerHTML = arr[i].description;
				cell3.innerHTML = arr[i].style;
				cell4.innerHTML = '₱' + arr[i].price;
				cell5.innerHTML = arr[i].smallAmount;
				cell6.innerHTML = arr[i].mediumAmount;
				cell7.innerHTML = arr[i].largeAmount;
				cell8.innerHTML = arr[i].extraLargeAmount;
				cell9.innerHTML = '<button id="del" class="btn btn-danger" onClick="clearOrder(this)"><i class="fa fa-trash-o"></i></button>';
				document.getElementById("del").id = i;

				quantity += Number(arr[i].smallAmount) + Number(arr[i].mediumAmount) + Number(arr[i].largeAmount) + Number(arr[i].extraLargeAmount);

				$("#productSummary").append("<label for='item' class='col-sm-4 col-form-label' style='font-size:12px'>"+arr[i].description+"-"+arr[i].color+"</label>");
				$("#productSummary").append("<p for='item' class='text-right lead col-sm-3 col-form-label'>"+"Qty: "+quantity+"</p>");
				$("#productSummary").append("<p for='item' class='text-right lead col-sm-4 col-form-label'>"+"₱ "+arr[i].price+"</p>");

				totalPrice = totalPrice + Number(arr[i].price);
				quantity = 0;
			}

			$("#totalAmount").append("<label for='totalPrice' class='col-sm-4 col-form-label'>Total</label>");
			$("#totalAmount").append("<p for='totalPrice' class='text-right lead col-sm-7 col-form-label'>"+"₱ "+totalPrice+"</p>");
		})
			
		});

		function clearOrder(param){
			var arr = JSON.parse(localStorage.getItem('cart'));
			arr.splice(param.id, 1);
			localStorage.setItem("cart", JSON.stringify(arr));

			document.location.reload(true);
		}
		
</script>

<style>
	th{
		font-size:12px;
	}
	td{
		font-size:14px;
		max-width:100px;
	}
</style>

<div class="row mt-sm-4 mt-md-0">
<div class="col-sm-12 col-md-8">
<div class="cart-header bg-dark text-light font-weight-bold">
</div>
</div>
</div>
<br><br>
<div class="row mt-sm-4 mt-md-0">
	<div class="col-sm-12 col-md-8">
		<div class="card mb-4" style="overflow: auto;">
			<div class="card-header bg-dark text-light font-weight-bold">
    			Your Order/s
  			</div>
    		<table class="table table-default" id="dataTable">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th>Small</th>
						<th>Medium</th>
						<th>Large</th>
						<th>Extra Large</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	
    </div>

    <div class="col-sm-12 col-md-4">
    	<div class="card mb-4">
    		<div class="card-header bg-dark text-light font-weight-bold">
    			Order Summary
  			</div>
	      	<div class="card-body">
	        	<div class="form-group row" id="productSummary">
					
		        </div>
		       
		        <hr>
		        <div class="form-group row">
		            <!--<label for="shippingFee" class="col-sm-4 col-form-label">Shipping Fee</label>
		            <p for="shippingFee" class="text-right lead col-sm-7 col-form-label">P 60.00</p>-->
					<!-- Shipping fee is not displayed for now -->
		        </div>
		        <div class="form-group row" id="totalAmount">
		            
		        </div>
		        <div class="text-center">
		            <button type="submit" id = "checkOut" name ="checkOut" class="btn bg-dark btn-primary mt-0 mb-2">Checkout</button>
		        </div>
	    	</div>
		</div>
	</div>
</div>
