<div class="row mt-sm-4 mt-md-0">
<div class="col-sm-12 col-md-8">
<div class="cart-header bg-dark text-light font-weight-bold">
	DELETE THIS BUT PLEASE FIX DESIGN
</div>
</div>
</div>

<div class="row mt-sm-4 mt-md-0">
	<div class="col-sm-12 col-md-8">
		<div class="card mb-4">
    		<div class="card-header bg-dark text-light font-weight-bold">
    			Customer Details
  			</div>
	      	<div class="card-body border-bottom">
	      		<form>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="fName">First Name</label>
							<input type="text" class="form-control" id="fName" placeholder="First Name">
						</div>
						<div class="form-group col-md-6">
							<label for="lName">Last Name</label>
							<input type="text" class="form-control" id="lName" placeholder="Last Name">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="custoEmail">Email</label>
							<input type="email" class="form-control" id="custoEmail" placeholder="Email">
						</div>
						<div class="form-group col-md-6">
							<label for="contact">Contact Number</label>
							<input type="number" class="form-control" id="contact" placeholder="Contact Number">
						</div>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<input type="text" class="form-control" id="address" placeholder="#123 Main Street Quezon City">
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="MOP">Mode of Payment</label>
							<select id="MOP" class="form-control">
								<option selected>Choose...</option>
								<option>BDO</option>
								<option>Cash on Delivery</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="MOD">Mode of Delivery</label>
							<select id="MOD" class="form-control">
								<option selected>Choose...</option>
								<option>Grab</option>
								<option>LBC</option>
								<option>Lalamove</option>
							</select>
						</div>
					</div>
				</form>
	    	
	    	</div>
		</div>
	</div>

    <div class="col-sm-12 col-md-4">
    	<div class="card mb-4">
    		<div class="card-header bg-dark text-light font-weight-bold">
    			Order Summary
  			</div>
	      	<div class="card-body">
	        	<div class="form-group row">
		            <label for="item" class="col-sm-4 col-form-label">Item #1</label>
		            <p for="item" class="text-right lead col-sm-7 col-form-label">P250.00</p>
		        </div>
		        <div class="form-group row">
		            <label for="item" class="col-sm-4 col-form-label">Item #2</label>
		            <p for="item" class="text-right lead col-sm-7 col-form-label">P250.00</p>
		        </div>
		        <div class="form-group row">
		            <label for="item" class="col-sm-4 col-form-label">Item #3</label>
		            <p for="item" class="text-right lead col-sm-7 col-form-label">P250.00</p>
		        </div>
		        <div class="form-group row">
		            <label for="item" class="col-sm-4 col-form-label">Item #4</label>
		            <p for="item" class="text-right lead col-sm-7 col-form-label">P250.00</p>
		        </div>
		        <hr>
		        <div class="form-group row">
		            <label for="shippingFee" class="col-sm-4 col-form-label">Shipping Fee</label>
		            <p for="shippingFee" class="text-right lead col-sm-7 col-form-label">P 60.00</p>
		        </div>
		        <div class="form-group row">
		            <label for="totalPrice" class="col-sm-4 col-form-label">Total</label>
		            <p for="totalPrice" class="text-right lead col-sm-7 col-form-label">P 1,060.00</p>
		        </div>
		        <div class="text-center">
		            <button type="submit" id = "checkOut" name ="checkOut" class="btn bg-dark btn-primary mt-0 mb-2">Checkout</button>
		        </div>
	    	</div>
		</div>
	</div>
</div>
