<style>
  .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<img class="center" src="/assets/check.png" style="width:200px; height:200px; margin-top:5%">
<h1 style="text-align: center;margin-top:5%">Order Placed!</h1>
<h5 style="text-align: center;">Please check your email for the order tracking id</h5><br>
<form action="/">
    <input class="btn btn-primary center"type="submit" value="Back to Store">
</form>