<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>

<style>
    .footer{
        padding-top:30%
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .zoom {
        transition: transform .2s;
    }

    .zoom:hover {
        transform: scale(1.7); 
    }
</style>

<script>
$(document).ready(function() {
    document.getElementById("price").value = 100; // change this to {{price}}
    document.getElementById("ttlprice").innerHTML = "₱" + 100; // change this to {{price}}
});

function increment() {
  document.getElementById("myNumber").stepUp(1);
  document.getElementById("ttlprice").innerHTML = "₱" + document.getElementById("price").value * document.getElementById("myNumber").value;
}
function decrement() {
    if (document.getElementById("myNumber").value > 1){
        document.getElementById("myNumber").stepDown(1);
        document.getElementById("ttlprice").innerHTML = "₱" + document.getElementById("price").value * document.getElementById("myNumber").value;
    }
}
</script>

<div class="container" style="margin-top:10%">

    <div class="col-md-5" style="float:left;z-index:2">
        <img class="zoom" src="../assets/mask.jpg" alt="" style="width: 100%;height:100%" style="margin-top:25%">
        <h3 style="text-align: center;margin-top:5%;font-family: 'Lora';font-size:32px;">Duckbill Flat | Pink</h3>
    </div>

    <div class="col-sm-4 col-md-7" style="float:left;z-index:1">
            <div class="card mb-4">
                <div class="card-header bg-dark text-light font-weight-bold">
                    
                </div>
                <div class="card-body">
                    <div class="form-group row center">
                        <h3 style="text-align:center;font-family: 'Lora';" id="price">₱ 100</h3> <!-- change this to {{price}} -->
                    </div>
                    <div class="form-group row">
                       <h4 style="width:100px;float:left;margin-left:15px;margin-right:15px;font-family: 'Lora';font-size:22px">Variation</h4>
                       <div class="btn-group">
                        <!-- change Pink to {{color}} -->
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pink</button>
                        <div class="dropdown-menu"><!-- get the variation from db for each product -->
                            <a class="dropdown-item" href="#">Red</a> <!-- change href accordingly -->
                            <a class="dropdown-item" href="#">Pink</a>
                            <a class="dropdown-item" href="#">Black</a>
                        </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 style="width:100px;float:left;margin-left:15px;margin-right:15px;font-family: 'Lora';font-size:22px">Quantity</h4>
                        <button class="btn btn-secondary" onclick="decrement()">-</button><input type="number" id="myNumber" value="1"><button class="btn btn-secondary" onclick="increment()">+</button>
                    </div>
                   <hr>
                    <div class="form-group row">
                        <label for="item" class="col-sm-4 col-form-label" style="font-size:22px">Total</label>
		                <p for="item" class="text-right lead col-sm-7 col-form-label" id="ttlprice" style="font-size:22px"></p>
                    </div>
                    <div class="text-center">
                        <button type="submit" onclick="window.location.href='/cart'" id = "checkOut" name ="checkOut" class="btn bg-dark btn-primary mt-0 mb-2">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
</div>